<div class="add-new-wrapper">
  <!-- Add new beer button -->
  <ui-button class="ui-button" (onClicked)="openModal(addBeerModal)"
    >Add a new beer</ui-button
  >
  <ui-loader [text]="loaderText" *ngIf="isFetching"></ui-loader>
  <ng-container *ngIf="!isFetching">
    <!-- List of my beers -->
    <ui-card-list [items]="beers" *ngIf="beers.length; else addNewBeerBox">
      <ng-template #card let-item>
        <ui-card
          [item]="item"
          [showActions]="true"
          (onDelete)="delete($event)"
        ></ui-card>
      </ng-template>
    </ui-card-list>

    <!-- Add new beer box -->
    <ng-template #addNewBeerBox>
      <ui-add-new
        class="mb-5 d-block"
        (onAddNew)="openModal(addBeerModal)"
      ></ui-add-new>
    </ng-template>
  </ng-container>
</div>

<ng-template #addBeerModal let-modal>
  <app-modal [title]="modalTitle">
    <app-add-beer-form
      [imgUrl]="BEER_IMG"
      [disabledSubmitButton]="isAdding"
      (onCancel)="modal.close()"
      (onSubmit)="addNewBeer($event, modal)"
    ></app-add-beer-form>
  </app-modal>
</ng-template>
