// Global colors
$primary-color: #3866b7;
$secondary-color: #cb9b42;
$black-color: #222222;
$text-color: #595959;
$white-color: #fff;

$success-color: #69c051;
$error-color: #e34371;
$info-color: #515ee8;

// Global Spacer
$spacer: 4px;

// Global border radius
$border-radius: 4px;
