$input-height: 45px;
$description-height: 120px;
$beer-img-size: 100px;
$border-color: #ddd;

$add-user-form-prefix: ".add-user-form";

#{$add-user-form-prefix} {
    input {
        height: $input-height;
    }

    textarea {
        height: $description-height;
    }
}

#{$add-user-form-prefix}__image {
    width: $beer-img-size;
    height: $beer-img-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $border-color;
}

#{$add-user-form-prefix}__button-group {
    display: flex;
    justify-content: right;
}
